.modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;

  /* z-index must be higher than .modal-background */

  /* enables scrolling for tall modals */
  overflow: auto;

  .modal-body {
    z-index: 20;
    padding: 20px;
    background: #fff;

    width: 50%;
    margin: 30px auto;

    border-radius: 5px;
    /* box-shadow: 20px 20px 30px; */
  }
  .btn-wrp {
    text-align: center;
  }
}

.modal-background, #modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .modal and above everything else  */
  z-index: 10;
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
