<div *ngIf="fighter">
  <h2>{{fighter.name | uppercase}} Details</h2>
  <div><span>id: </span>{{fighter.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="fighter.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
