<div class="logs-board">
	<div class="top">
		<h2>Logs</h2>
		<button [disabled]="!battleLogService.logs?.length"
		        class="clear"
		        (click)="battleLogService.clear()"
		>x</button>
	</div>

  <div class="logs">
	  <p *ngFor='let log of battleLogService.logs'>{{log}}</p>
  </div>
</div>
