.logs-board {
  font-family: Arial, Helvetica, sans-serif;

  .top {
    display: flex;

    h2 {
      display: flex;
      color: red;
      font-weight: lighter;
    }

    .clear {
      background-color: #eee;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
      color: #888;
      margin-bottom: 12px;

      &:hover {
        background-color: #cfd8dc;
      }

      &:disabled {
        background-color: #eee;
        color: #aaa;
        cursor: auto;
      }

    }
  }
  .logs {
    height: 200px;
    overflow-y: auto;
    p {
      margin: 0;
    }
  }

}
