/* FightersComponent's private CSS styles */
.list {
  list-style-type: none;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;


  li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    border-radius: 4px;
    margin-bottom: 5px;

    :hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }

    a {
      color: #888;
      text-decoration: none;
      position: relative;
      display: block;
    }

    a:hover {
      color: #607D8B;
    }
  }


  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}


.fighters-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .vs {
    display: flex;
    position: relative;
    top: 20vh;

    img {
      height: 100px;
      width: 100px;
    }
  }

  .left, .right {
    flex: 1 1 48%;
    flex-wrap: wrap;
    flex-direction: row;

    .sub-right {
      flex: 1 1 80%;

      .img-wrapper {
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;

        &:hover {
          .overlay {
            display: flex;
          }
        }

        img {
          float: left;
          width: 250px;
          height: 500px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .overlay {
          justify-content: center;
          align-items: center;
          background-color: rgba(0,0,0, 0.5);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: none;
          border-radius: 10px;

          .fas {
            cursor: pointer;

            font-weight: 900;
            font-size: 40px;
            border: 2px solid #fff;
            color: #fff;
            border-radius: 50%;
            padding: 15px;
            &:hover {
              background-color: #fff;
              color: #000;
            }
          }
        }
      }
    }

    .sub-left {
      flex: 1 1 20%;
    }

    .list {
      padding: 25px 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .specs {
      padding: 25px 10px;

      .line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
      }

      .btn-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .btn {
          flex: 1 1 100%;
          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

  }

  .left {
  }

  .right {
    flex-direction: row-reverse;

    .img-wrapper {
      img {
        transform: scaleX(-1);
      }
    }

    .specs {
      label {
        flex-direction: row-reverse;
      }
    }
  }

  .fight {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 250px;
    border-radius: 15px;
    cursor: pointer;
    background: #00000040;
    padding: 10px 0;

    &:hover {
      background-color: rgba(0,0,0, 0.5);
    }
    img {
      max-width: 150px;
    }
  }
}
