<div class="fighters-wrapper row">

	<div class="left row col-6">
		<div class="sub-left col-3">
			<app-fighter-search></app-fighter-search>
			<ul class="list">
				<li *ngFor="let fighter of fighters">
					<a (click)="selectFirstFighter(fighter)">{{fighter.name}}</a>
					</li>
			</ul>
		</div>
		<div class="sub-right row col-9">
			<div *ngIf="selectedFirstFighter" class="specs col-6">
				<div class="line">
					<span>Health:</span>
					<span><b>{{selectedFirstFighter.health}}</b></span>
				</div>
				<div class="line">
					<span>Attack:</span>
					<span><b>{{selectedFirstFighter.attack}}</b></span>
				</div>
				<div class="line">
					<span>Defense:</span>
					<span><b>{{selectedFirstFighter.defense}}</b></span>
				</div>
				<div class="btn-container">
					<button (click)="editFirstFighter()" class="btn btn-priamry">Edit</button>
				</div>
			</div>
			<div *ngIf="selectedFirstFighter" class="img-wrapper col-6">
				<div class="overlay">
					<i class="fas fa-wrench" (click)="editFirstFighter()"></i>
				</div>
				<img class="img-fluid" [attr.src]="selectedFirstFighter.source" rel="nofollow">
			</div>
		</div>
	</div>

	<div class="vs">
		<img src="../../assets/img/vs.png" rel="nofollow">
	</div>

	<div class="right row col-6">
		<div class="sub-left col-3">
			<app-fighter-search></app-fighter-search>
			<ul class="list">
				<li *ngFor="let fighter of fighters">
					<a (click)="selectSecondFighter(fighter)">{{fighter.name}}</a>
				</li>
			</ul>
		</div>
		<div class="sub-right row col-9">
			<div  class="img-wrapper col-6">
				<img *ngIf="selectedSecondFighter" class="img-fluid" [attr.src]="selectedSecondFighter.source">
				<div class="overlay">
					<i class="fas fa-wrench" (click)="editSecondFighter()"></i>
				</div>
			</div>
			<div *ngIf="selectedSecondFighter" class="specs col-6">
				<div class="line">
					<span>Health:</span>
					<span><b>{{selectedSecondFighter.health}}</b></span>
				</div>
				<div class="line">
					<span>Attack:</span>
					<span><b>{{selectedSecondFighter.attack}}</b></span>
				</div>
				<div class="line">
					<span>Defense:</span>
					<span><b>{{selectedSecondFighter.defense}}</b></span>
				</div>
				<div class="btn-container">
					<button (click)="editSecondFighter()" class="btn btn-priamry">Edit</button>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="selectedFirstFighter && selectedSecondFighter" (click)="startFight()" class="fight">
		<img src="../../assets/img/fight.png">
	</div>
</div>

<app-battle-logs></app-battle-logs>

<app-fighter-modal></app-fighter-modal>
