.search {
  display: block;
  position: relative;
  z-index: 1000;

  .search-result {
    margin-top: 0;
    padding-left: 0;
    background: #fff;
    position: absolute;
    width: 100%;

    li {
      background-color: white;
      cursor: pointer;
      list-style-type: none;

      &:hover {
      }

      a {
        color: #888;
        display: block;
        text-decoration: none;
        padding: 0 10px;

        &:hover {
          background-color: #607D8B;
          color: #fff;
        }

        &:active {
          color: white;
        }
      }
    }
  }

  #search-box {
    width: 100%;
    height: 20px;
  }
}
