<div class="search">
  <span><i class="fas fa-search"></i></span>
	<input [(ngModel)]="input" id="search-box" (input)="search(input)" />

  <ul class="search-result">
    <li *ngFor="let fighter of fighters$ | async" >
      <a>{{fighter.name}}</a>
    </li>
  </ul>
</div>
