.modal {

  .modal-body {

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      .left, .right {
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
      .left {
        align-items: center;

        img {
          width: 250px;
          height: 500px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .right {
        .line {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;

          span, input {
            width: 49%;
          }
        }
      }
    }
  }
}

.btn-wrp {
  display: flex;
  justify-content: flex-end;
}
