<div class="modal" *ngIf="fighter">
	<div class="modal-body">
		<div class="wrapper">
			<div class="left">
				<img [attr.src]="fighter.source" rel="nofollow">
			</div>
			<div class="right">
				<label class="line">
					<span>Health:</span>
					<input
						[(ngModel)]="fighter.health"
						type="number"
						max="200">
				</label>
				<label class="line">
					<span>Attack:</span>
					<input
					  [(ngModel)]="fighter.attack"
						type="number"
						max="50">
				</label>
				<label class="line">
					<span>Defence:</span>
					<input
						[(ngModel)]="fighter.defense"
						type="number"
						max="50">
				</label>
			</div>
		</div>
		<div class="btn-wrp">
			<button class="btn btn-outline-primary" (click)="close()">Done</button>
		</div>
	</div>
	<div (click)="close()" id="modal-background"></div>
</div>
