<div class="img-wrapper">
	<img class="img-fluid" src="../../assets/img/logo_lg.png" alt="">
</div>

<div class="bottom">
	<button
		*ngIf="fighterService.fighters; else loader"
		class="btn btn-secondary btn-lg"
    routerLink="/fighters"
    >START</button>

	<ng-template #loader>
		<span>LOADING...</span>
		<div class="sk-circle">
			<div class="sk-circle1 sk-child"></div>
			<div class="sk-circle2 sk-child"></div>
			<div class="sk-circle3 sk-child"></div>
			<div class="sk-circle4 sk-child"></div>
			<div class="sk-circle5 sk-child"></div>
			<div class="sk-circle6 sk-child"></div>
			<div class="sk-circle7 sk-child"></div>
			<div class="sk-circle8 sk-child"></div>
			<div class="sk-circle9 sk-child"></div>
			<div class="sk-circle10 sk-child"></div>
			<div class="sk-circle11 sk-child"></div>
			<div class="sk-circle12 sk-child"></div>
		</div>
	</ng-template>

</div>


<!--<app-fighter-search></app-fighter-search>-->
